main {
    background-color: #03985c;
    color: #fff;
    /* max-width: 800px; */
    /* width: 80%;
    max-width: 450px;
    margin: 30px auto; */
}

form {
    border: 1px solid rgb(31, 29, 29);
    border-radius: 15px;
    background-color: #fff;
}